# Top-Level Kconfig for Zephyr Example Module
#
# Copyright (c) 2020, Friedt Professional Engineering Services, Inc
#
# SPDX-License-Identifier: Apache-2.0

source "subsys/zephyr_example_module/Kconfig"
